<div id="links">
<p>
  Liens:
  <ul>
    <li> <a href="../admin">Administration</a>
    <li> <a href="../mission">Formulaire mission</a>
  </ul>
</p> 
</div>
<p>

<h2>Tableau General</h2>
<table id="hor-minimalist-a" summary="Main Table">
  <!-- Table header -->
  <thead>
    <tr>
      <th scope="col">Grade</th>
      <th scope="col">Autruche</th>
      <th scope="col">Nombre de missions</th>
      <th scope="col">Dernier avion pilote</th>
      <th scope="col">Victoires aeriennes</th>
      <th scope="col">Missions d'attaque</th>
      <th scope="col">Temps de vol total</th>
      <th scope="col">Dernier role du pilote</th>
      <th scope="col">Citations</th>
      <th scope="col">Medailles</th>     
    </tr>
  </thead>
  
  <!-- Table body -->
  <tbody>
    <% @autruches.each do |autruche| %>
    <tr>
      <td>
        Grade
      </td>
      <td>
        <%=h autruche.callsign %>
      </td>
      <td>
        Nbr de missions
      </td>
      <td>
        Dernier avion
      </td>
      <td>
        Victoires aeriennes  
      </td>
      <td>
        Missions attaque
      </td>
      <td>
        Temps de vol
      </td>
      <td>
        Dernier Role
      </td>
      <td>
        Citations
      </td>
      <td>
        Medailles
      </td>
    </tr>
    <% end %>
  </tbody>  
</table>