.grid {
    width: 850px;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
}

.header {
    border-bottom: thin dotted #069;    
}

/* The parent element will collapse to zero height
   since it has only floated children.
   Let's fix that by clearning it*/
.header:after {
    content: "";
    display: table;
    clear: both;
}

.grid .title {
    width: 70%;
    float: left;
    padding: 5px 20px 5px 0px;

}

.grid .login {
    width: 30%;
    float: right;
    border: dotted thin #e3e3e3;
    padding: 5px 20px 5px 5px;
    background-color: #E4EC9A;
}

.grid .flash, .main, .footer {
    clear: both;
}

.flash {
    clear: both;
    background-color: #E4EC9A;
}

/* with box-sizing, elments stay the designated width even with padding*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.notice {color: green;}
.error {color: red;}

h3 {
    margin: 0px;
}
  
a:link {  
    color: #09f;  
    text-decoration: none;  
}  

a:visited {  
    color: #069;  
    text-decoration: none;  
}  
  
.meta {  
    font-size: 0.8em;  
    font-style: italic;  
    color: #888;  
}  
  


#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 10px;
	width: 680px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}

form.cmxform fieldset {
  margin-bottom: 10px;
}
form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
}
form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform label {
  width: 180px; /* Width of labels */
}
form.cmxform fieldset fieldset label {
  margin-left: 203px; /* Width plus 3 (html space) */
}

input.revendication {
    width: 350px /* width of revendication text input */
}

input.disabled { /* Text and background colour, medium red on light yellow */
color:#933;
background-color:#ffc;
}

fieldset {
background-color: #E4EC9A;    
}

/* tab nav courtesy of Tyrus*/
ul#tabnav { 
    text-align: left; 
    margin: 0px 0px 0px 10px ; 
    font: 13px 'Myriad Pro', 'Helvetica Neue', arial, 	sans-serif; 
    border-bottom: 1px solid #bdbdbd; 
    list-style-type: none;
    padding: 30px 0px 8px 0px; 
    text-shadow: 0px 1px 1px rgba(255,255,255,1)    
}

ul#tabnav li { 
	display: inline;
}

#tab1 li.tab1, #tab2 li.tab2, #tab3 li.tab3, #tab4 li.tab4, body#tab5 li.tab5 { 
	border-bottom: 1px solid #fff; 
	background-color: #bdbdbd;
}

#tab1 li.tab1 a, #tab2 li.tab2 a, #tab3 li.tab3 a, #tab4 li.tab4 a, body#tab5 li.tab5 a { 
  font-weight:bold;
	background-color: #fff; 
	color: #6b6b76; 
	position: relative;
	top: 1px;
	padding-top: 18px; 
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #bdbdbd;
	border-left: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
}


ul#tabnav li a { 
	padding:  13px 20px 10px 20px;
	border-radius: 4px 4px 0 0;
	border: 1px solid #bdbdbd; 
	background-color: #f1f1f1; 
	color: #666; 
	margin-right: 0px; 
	text-decoration: none;
	border-bottom: none;
	box-shadow:inset 0px 1px 2px rgba(255,255,255,1)
}

ul#tabnav a:hover { 
	background: #fff; 
	box-shadow:inset 0px 10px 50px rgba(0,0,0,.125),inset 0px 1px 1px rgba(255,255,255,1)
}

